.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column; // allows footer and image to sit in vertical alighnment 
  height: 350px;
  align-items: center;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%; // takes 5% of total height because the image takes rest
    display: flex;
    justify-content: space-between; // content gets pushed apart from each other
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}